<div class="row">
	<aside class="col-md-3">
		<nav class="list-group">
			<a class="list-group-item active" href="#"> Tổng quan  </a>
			<a class="list-group-item" href="#"> Địa chỉ của tôi </a>
			<a class="list-group-item" href="#"> Thiết lập </a>
			<a class="list-group-item" href="@Url.Action("Logout", "Login")" > Đăng xuất </a>
		</nav>
	</aside> <!-- col.// -->
	<main class="col-md-9">

		<article class="card mb-3">
			<div class="card-body">
				
				<figure class="icontext">
						<div class="icon">
							<img class="rounded-circle img-sm border" src="images/avatars/avatar3.jpg">
						</div>
						<div class="text">
							<strong> Nguyễn Hữu Tình </strong> <br> 
							<p class="mb-2"> huutinh@gmail.com  </p> 
							<a href="#" class="btn btn-light btn-sm">Sửa</a>
						</div>
				</figure>
				<hr>
				<p>
					<i class="fa fa-map-marker text-muted"></i> &nbsp; Địa chỉ:  
					 <br>
					Hà Nội &nbsp 
					<a href="#" class="btn-link"> Sửa</a>
				</p>
			</div> <!-- card-body .// -->
		</article> <!-- card.// -->

	</main> <!-- col.// -->
</div>