<!-- =============== SECTION DEAL =============== -->
<section class="padding-bottom">
 <div class="card card-deal">
     <div class="col-heading content-body">
      <header class="section-heading">
       <h3 class="section-title">ưu đãi và hỗ trợ</h3>
       <p>Hế hạn trong vòng</p>
     </header><!-- sect-heading -->
     <div class="timer">
       <div> <span class="num">04</span> <small>Ngày</small></div>
       <div> <span class="num">12</span> <small>Giờ</small></div>
       <div> <span class="num">58</span> <small>Phút</small></div>
       <div> <span class="num">02</span> <small>Giây</small></div>
     </div>
   </div> <!-- col.// -->
   <div class="row no-gutters items-wrap">
    <div class="col-md col-6">
     <figure class="card-product-grid card-sm">
      <a href="#" class="img-wrap"> 
       <img src="~/images/items/3.jpg"> 
      </a>
      <div class="text-wrap p-3">
       	<a href="#" class="title">Quần áo mùa hè</a>
       	<span class="badge badge-danger"> -20% </span>
      </div>
   </figure>
 </div> <!-- col.// -->
 <div class="col-md col-6">
   <figure class="card-product-grid card-sm">
    <a href="#" class="img-wrap"> 
     <img src="~/images/items/4.jpg"> 
   </a>
   <div class="text-wrap p-3">
     <a href="#" class="title">Phụ kiện thời trang</a>
     <span class="badge badge-danger"> -5% </span>
   </div>
 </figure>
</div> <!-- col.// -->
<div class="col-md col-6">
 <figure class="card-product-grid card-sm">
  <a href="#" class="img-wrap"> 
   <img src="~/images/items/5.jpg"> 
 </a>
 <div class="text-wrap p-3">
   <a href="#" class="title">Ví nam</a>
   <span class="badge badge-danger"> -20% </span>
 </div>
</figure>
</div> <!-- col.// -->
<div class="col-md col-6">
 <figure class="card-product-grid card-sm">
  <a href="#" class="img-wrap"> 
   <img src="~/images/items/6.jpg"> 
 </a>
 <div class="text-wrap p-3">
   <a href="#" class="title">Nội thất</a>
   <span class="badge badge-danger"> -15% </span>
 </div>
</figure>
</div> <!-- col.// -->
<div class="col-md col-6">
 <figure class="card-product-grid card-sm">
  <a href="#" class="img-wrap"> 
   <img src="~/images/items/7.jpg"> 
 </a>
 <div class="text-wrap p-3">
   <a href="#" class="title text-truncate">Đồng hồ thông minh</a>
   <span class="badge badge-danger"> -10% </span>
 </div>
</figure>
</div> <!-- col.// -->
</div>
</div>

</section>
<!-- =============== SECTION DEAL // END =============== -->